<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="../assets/CSS/home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    </style>
</head>

<body>

    <div style="display: none;">
        <%for(u of all_users ){%>

            <div id='ubox'>
                <a class="u-name" href="/users/profile/<%= u.id %>">
                    <p id="u-firstchar">
                        <%u.name[0] %>
                    </p>
                    <p class="user-name">
                        <% u.name %>
                    </p>
                </a>
            </div>

            <%}%>
    </div>
    <div id="heading-container">
        <section id="side-navbar">
            <div class="font-icon">
                
                <div id="home-icon">
                    <a style="text-decoration: none;color: white;"  href="/"><i class="fa-solid fa-home"></i>
                        Home</a>
                    
                </div>
                <div id="profile-icon">
                    <a style="text-decoration: none;color: white;"  href="/users/profile/<%= u.id %>"><i class="fa-solid fa-user"></i>
                        Profile</a>
                </div>
                
                <div id="logout-icon">
                    <a style="text-decoration: none;color: white;" href="/users/sign-out"><i class="fa-solid fa-right-to-bracket"></i>
                        Sign out</a>
                    
                </div>

            </div>




        </section>
        <section id="feed-post">
            
            <p id="head">Share your thoughts</p>
            <%if(locals.user){%>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea class="postinput" name="content" id="" cols="30" rows="3" placeholder="Type here.."
                        required></textarea>
                    <div><input class="postsubmit" type="submit" value="Post"></div>
                </form>
                <%}%>
                    <div id="posts-list-container">
                        <ul>
                            <% for (let post of posts) { %>
                                <li style="list-style: none;" id="post-<%= post._id %>">
                                    <p>

                                    <div id="postcontent">
                                        <%= post.content %>
                                    </div>
                                    <div>
                                        <%= post.user.name %>



                                            <% if (locals.user && locals.user.id==post.user.id){ %>

                                                <a class="delete-post-button" href="/posts/destroy/<%= post._id %>"><i
                                                        class="fa-solid fa-trash"></i></a>
                                                         
                                    </div>
                                    <% } %>
                                        </p>
                                        <div class="post-comments">
                                            <% if (locals.user){ %>
                                                <form action="/comments/create" method="POST">
                                                    <input class="comminput" type="text" name="content"
                                                        placeholder="Type Here to add comment..." required>
                                                    <input type="hidden" name="post" value="<%= post._id %>">
                                                    <input class="commsubmit" type="submit" value="Add Comment">
                                                </form>
                                                <% } %>

                                                    <div class="post-comments-list">
                                                        <ul id="post-comments-<%= post._id %>">
                                                            <% if (post.comments && post.comments.length> 0) { %>
                                                                <% for (let comment of post.comments) { %>
                                                                    <li id="commentlist">
                                                                        <p>
                                                                            <p style="font-size: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-block: 0px;"><%= comment.content %></p>
                                                                                <% if (locals.user &&
                                                                                    locals.user.id==comment.user.id){ %>
                                                                                    <small>
                                                                                        <a style="color: rgb(251, 250, 250);"
                                                                                            href="/comments/destroy/<%= comment._id %>">Delete</a>
                                                                                    </small>
                                                                                    <% } %>
                                                                                        

                                                                                            <br>
                                                                                            <small>
                                                                                                <%= comment.user.name %>

                                                                                            </small>
                                                                        </p>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <li style="list-style: none;">No comments
                                                                                yet.</li>
                                                                            <% } %>
                                                                            <div class="last-line" style="width: 20px;border: 1px solid white;display: inline-block;padding-inline: 200px;
                                                                            margin-block: 25px;
                                                                            "></div>

                                                        </ul>
                                                    </div>
                                        </div>

                                </li>
                                <% } %>
                        </ul>
                    </div>

        </section>
        <!-- /******************printing the name of all users on home page*********************/ -->
        <section id="users-friends">
            <div style="position: fixed;">
                <p id="Friends">Friends</p>
                <div>
                    <%for(u of all_users ){%>

                        <div id='ubox'>
                            <a class="u-name" href="/users/profile/<%= u.id %>">
                                <p id="u-firstchar">
                                    <%= u.name[0] %>
                                </p>
                                <p class="user-name">
                                    <%= u.name %>
                                </p>
                            </a>
                        </div>

                        <%}%>
                </div>
            </div>

        </section>

    </div>

    <script src="/js/home_posts.js"></script>
    <script src="https://kit.fontawesome.com/e81ca0415f.js" crossorigin="anonymous"></script>
</body>

</html>