
    <title> <%= title %></title>
    <link rel="stylesheet" href="/CSS/user_profile.css">
    <div class="pic"><img  id="profile-picture" src="<%=user.avatar %>" alt="<%= user.name%>" width="100"></div>
     
    
    <% if(user.id == profile_user.id){ %>
        <!-- if user matches then show the form -->
       <div class="editprofile">
        <h4>Edit Profile</h4>
        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
            <div class="profilename"><p>Username</p> <input class="xyz" type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            </div>
            <div class="profileemail"><p>Email.Id</p><input class="xyz" type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            </div>
            <div class="profilefile"><p>Change profile photo</p><input type="file" name="avatar" placeholder="profile picture">
            </div>
            <div class="profilesubmit"><input type="submit"  value="Update">
            </div>
        </form>
       </div>
        
    <%}else{%>     
        <!-- else show only the profile info -->
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
    <%} %>

    