
    <title> <%= title %></title>
    <link rel="stylesheet" href="/CSS/user_profile.css">

    <section id="side-navbar">
        <div class="font-icon">
            <div id="home-icon">
                <a style="text-decoration: none;color: white;"  href="/"><i class="fa-solid fa-home"></i>
                    Home</a>
                
            </div>
            <div id="profile-icon">
                <a style="text-decoration: none;color: white;"  href="/users/profile>"><i class="fa-solid fa-user"></i>
                    Profile</a>
            </div>
            
            <div id="logout-icon">
                <a style="text-decoration: none;color: white;" href="/users/sign-out"><i class="fa-solid fa-right-to-bracket"></i>
                    Sign out</a>
                
            </div>

        </div>




    </section>
    <div class="pic"><img  id="profile-picture" src="<%=user.avatar %>" alt="<%= user.name%>" width="100"></div>
     
    
    <% if(user.id == profile_user.id){ %>
        <!-- if user matches then show the form -->
       <div class="editprofile">
        <h4>Edit Profile</h4>
        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
            <div class="profilename"><p>Username</p> <input class="xyz" type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            </div>
            <div class="profileemail"><p>Email.Id</p><input class="xyz" type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            </div>
            <div class="profilefile"><p>Change profile photo</p><input type="file" name="avatar" placeholder="profile picture">
            </div>
            <div class="profilesubmit"><input type="submit"  value="Update">
            </div>
        </form>
       </div>
        
    <%}else{%>     
        <!-- else show only the profile info -->
        <p style="color: white;"><%= profile_user.name %></p>
        <p style="color: white;"><%= profile_user.email %></p>
        <%} %>

        
        <script src="https://kit.fontawesome.com/e81ca0415f.js" crossorigin="anonymous"></script>